@import '../../style/mixins';
@import "../../style/var";

.index {
    .style-demo {
        color: $c-gray-l;
        @include ellipsis-multi()
    }

    .webpack-icon {
        display: inline-block;
        width: 128px;
        height: 128px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}